<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/online">
<head>
    <title>Topics | JF</title>
</head>
<body>
<main layout:fragment="content">
    <article class="container" style="padding: 3% 0 2%;">
        <header class="row">
            <blockquote class="flow-text left" th:text="${header}">Header</blockquote>
            <blockquote class="flow-text right" th:text="|Topics: | + ${topics.size()}">Number of topics</blockquote>
        </header>
        <section class="row">
            <div class="col s12">
                <table class="striped bordered centered" th:if="${topics.size() != 0}">
                    <thead>
                    <tr>
                        <th>Answers</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Created</th>
                        <th>Enter</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="topic : ${topics}">
                        <tr>
                            <td th:text="${answerRepository.countAnswersByTopic_Id(topic.getId())}">Number of answers</td>
                            <td th:text="${topic.getTitle()}">Topic's title</td>
                            <td>
                                <a th:href="@{'/profile/' + ${topic.getUser().getId()}}">
                                    <div class="chip" th:text="${topic.getUser().getUsername()}">Topic's author</div>
                                </a>
                            </td>
                            <td th:text="${topic.displayParsedCreatedDate()}">Topic's created date</td>
                            <td>
                                <a th:href="@{'/topic/' + ${topic.getId()}}" class="btn btn-floating pulse">
                                    <i class="material-icons">arrow_forward</i>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </section>
        <section>
            <div>
                <form th:action="@{'/topics/save'}" method="post">
                    <label>Title</label><br>
                    <input type="text" placeholder="Enter Title" name="title" required><br>
                    <label>Content</label><br>
                    <textarea placeholder="Enter Content" name="content" required></textarea><br>
                    <label>Category</label><br>
                    <input type="text" placeholder="Enter category" name="category" required><br>
                    <label>Code</label><br>
                    <textarea placeholder="Enter Code" name="code"></textarea><br>
                    <label>User Id</label><br>
                    <input type="text" placeholder="User ID" name="id_user" required><br>
                    <button type="submit">Submit</button>
                </form>
            </div>

        </section>

    </article>
</main>
<!--/*@thymesVar id="header" type="java.lang.String"*/-->
<!--/*@thymesVar id="topics" type="java.util.List"*/-->
<!--/*@thymesVar id="answerRepository" type="com.example.finalforum.repositories.AnswerRepository"*/-->
<!--/*@thymesVar id="countAnswersByTopic_Id" type="com.example.finalforum.repositories.AnswerRepository"*/-->
</body>
</html>